:root {
    --font-main:'Sora';
    --font-weight-thin:100;
    --font-weight-light:300;
    --font-weight-regular:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;
    --font-weight-ExtraBold:800;
    --background: rgb(241, 238, 251);
   --bg-opacity:rgba(254, 254, 254, 0.05);
    --text-main: #1A1A1A;
    --cards:#FFFF;
    --secondary-text:#3a3a3a;
    --primary: #7A3FF2;
    --primary-hover: #5E2BC7;
    --accent-support:#F6874A;
    --info: #4A90E2;
    --text-shadow:#b5fbff;
     --link-color: #7A3FF2;
  --link-hover: #5E2BC7;
  --container:#f1eefb;
}
  .light-logo{
    display: block;
  }
  .dark-logo{
    display:none;
  }
  .som-dark{
    display: none;
  }
 

@media (prefers-color-scheme: dark) {
 :root {
    
    --background:#2B2B33;
    --text-main:#FFFF;
    --secondary-text:#a6a3a3;
    --primary:#9961FF;
    --primary-hover:#B48AFF;
     --accent-support:#FFA56C;
     --cards:#09090A;
     --info:#6AB0FF;
      --link-color: #9961FF;
    --link-hover: #B48AFF;
    --container:#000000;
    --bg-opacity: rgba(43, 43, 51, 0.55);
 } 
       .project-card{ background-color: var(--background);
    }  
    .som-light {
    display: none;
  }
  .som-dark {
    display: block;
  }

}  
/*Sora Font Family*/
@font-face {
    font-family:'Sora';
         src: url('../fonts/sora/Sora-Thin.ttf') format('truetype'),
        url('../fonts/sora/Sora-Thin.woff2') format('woff2'),
         url('../fonts/sora/Sora-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-ExtraLight.ttf') format('truetype'),
                url('../fonts/sora/Sora-ExtraLight.woff2') format('woff2'),
                url('../fonts/sora/Sora-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-Light.ttf') format('truetype'),
             url('../fonts/sora/Sora-Light.woff2') format('woff2'),
             url('../fonts/sora/Sora-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-Regular.ttf') format('truetype'),
             url('../fonts/sora/Sora-Regular.woff2') format('woff2'),
             url('../fonts/sora/Sora-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-Medium.ttf') format('truetype'),
             url('../fonts/sora/Sora-Medium.woff2') format('woff2'),
             url('../fonts/sora/Sora-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-SemiBold.ttf') format('truetype'),
             url('../fonts/sora/Sora-SemiBold.woff2') format('woff2'),
             url('../fonts/sora/Sora-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-Bold.ttf') format('truetype'),
             url('../fonts/sora/Sora-Bold.woff2') format('woff2'),
            url('../fonts/sora/Sora-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-ExtraBold.ttf') format('truetype'),
             url('../fonts/sora/Sora-ExtraBold.woff2') format('woff2'),
             url('../fonts/sora/Sora-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
/*end of font family*/

html { line-height: 1.15;
    -webkit-text-size-adjust: auto;
    background-color: var(--background);
}


.site-header{
position: sticky;
background-color:var(--background);
padding: 1rem 2rem;
display: flex;
justify-content: space-between;
align-items: center;
}

#menu-toggle {
    font-size: 2rem;
    background: none;
    cursor: pointer;
    display: none;
}
.menu-icon {
    font-size: 2rem;

    cursor: pointer;
    color: rgb(147, 27, 227);
}
.site-nav{
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    background: var(--background);
    transition: right 0.7s ease-in-out;
 
}
.side-nav.open {
    right: 0;
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
   gap: 2rem;
   flex-direction: column;
   margin-top: 2rem;
}
#menu-toggle:checked + .menu-icon + .site-nav {
    right: 0;
}
#menu-toggle:checked + .menu-icon + .site-nav .close-menu {
  display: block;
}

.nav-links a{
    text-decoration: none;
    color: var(--text-main);
    position: relative;
    font-size: 1.40rem;
    font-weight: var(--font-weight-bold);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-links a::after{
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 0%;
height: 2px;
background-color: rgb(147, 27, 227);
transition: width 0.4s ease-in-out;
}

@media (min-width: 1110px) {
    .site-nav {
        position: static;
        width: 100%;
        height: auto;
        background: none;
        opacity: 1;
        display: flex;
        background-color: var(--background);
       justify-content: space-evenly;
       
    }
  
    .nav-links{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

    }
    .menu-icon,
    #menu-toggle,
    .close-menu{
        display: none;
        
    }
}
.nav-links a:hover::after {
  width: 100%;
}
.close-menu {
  font-size: 1rem;  
  display: none;
  text-align: left;
  padding: 1rem;

}
/* Logo light vs dark*/

.dark-logo {
    display:none;
}

@media (prefers-color-scheme: dark) {
   .som-light{ display: none; 
}
    .som-dark {display: block; 
    }
    
}
.logo img {
    height: 15vh;
    width: auto;
}

.hero{
background-image:url("../media/white-plastic.jpeg");
background-size:cover;
background-color: var(--bg-opacity);
background-position:top;
padding: 6rem 2rem;
margin: 0 auto;
max-width: 1100px;
color:var(--text-main);
border-radius: 0.2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.hero-title{
    font-family: 'Sora';
    font-weight: var(--font-weight-ExtraBold);
    font-size: 6rem;
    max-width: 1000px;
    line-height: 1.0;
    letter-spacing: 0.05px;
    text-align: left;
    margin: 0;
    background-color: var(--bg-opacity);
    text-shadow:3px 0.5px 6px var(--primary-hover);
    

}
.hero-subtext {
    font-family:'Sora';
max-width: 900px;
font-size: 1rem;
margin-top: 1.5rem;
color: var(--text-main);
font-weight: var(--font-weight-medium);
text-align: left; 
background-color: var(--bg-opacity);
}
/*fluid resizing for the hero on every page*/

@media (max-width:1000px){
.hero-title{
    font-size:5rem;
}
}

@media (max-width: 800px){
.hero-title{
    font-size:4rem;
}
}
@media (max-width: 600px){
.hero-title{
    font-size:3rem;
}
}
@media (max-width: 400px){
.hero-title{
    font-size:2rem;
}
}
@media (prefers-color-scheme: dark) {
  .hero {
    background-image: url("../media/blackplastic.jpeg");
    background-color: var(--background);

}
}
@media (prefers-color-scheme: light){
    .hero{
        color: var(--primary);
    }
    .hero-title{
        text-shadow:none;
        box-shadow: none;
    }
}

/*Text declarations*/

body {
    font-family: 'Sora';
    font-weight: var(--font-weight-regular);
   margin: 0;
   line-height: 2.0;
   background: var(--background);
   color: var(--text-main);
}

h1 {
  font-family: 'Sora';
  font-size: 2.5rem;
    font-weight:var(--font-weight-ExtraBold);
  padding: 0 1rem;
    margin-bottom: 1rem;
    letter-spacing: -0.20px;
}
h2 {
    font-family: 'Sora';
    font-weight:var(--font-weight-bold);
    font-size: 2rem;
    padding: 1rem 1.5rem 0.5rem;
}


h3 {
    font-family: 'Sora';
    font-weight:var(--font-weight-semibold);
    font-size: 1.75rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding:0 1.5rem
}
p {
    font-weight:var(--font-weight-regular);
    font-size: 1.2rem;
    line-height: 2.0;
    padding: 0 2rem;
    letter-spacing: 0.10px;
  
   
}
li {
    font-family:'Sora';
    font-weight:var(--font-weight-regular);
    position: relative;
    line-height: 2.0;
    font-size: 1rem;
    padding: 0 2rem;
    
}
ul{
    font-family:'Sora';
    font-weight:var(--font-weight-bold);
    position: relative;
    line-height: 1.6;
    font-size: 1rem;
   
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  padding-top: 56.25%; 
}
.container{
max-width:1200px;
margin:0 auto;
padding:0 1.5rem;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.featured-grid{
display:grid;
gap: 3rem;
grid-template-columns: 1fr;
background-color: var(--background);
}
.featured-grid img {
    max-width: 100%;
    height: auto;
    display: block;
}
@media (min-width: 400px) {
    .featured-grid {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}
img {
  max-width: 100%;
  height: auto;
}
.about-images {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  justify-content: center;
}
.about-photo {
    width: 220px;
}
@media (max-width: 768px) {

  .about-images {
    flex-direction: column;
    align-items: center;
  }

}

.project-card {
    background-color:var(--cards);
    padding: 1.5rem;
    box-shadow: 0 4px 10px var(--info);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius:10px;
}
.project-card:hover{
    box-shadow:0 4px 10px var(--primary-hover);
    transform: translateY(-3px);
}
.project-card img{
    width:100%;
    max-width:400px;
    height:auto;
    display:block;
}
.project-feature {
    background-color:var(--cards);
    padding: 1.5rem;
    box-shadow: 0 4px 10px var(--secondary-text);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius:10px;
}
.project-feature:hover{
    box-shadow:0 4px 10px var(--primary-hover);
    transform: translateY(-3px);
}

.project-container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:2rem;
    padding: 2rem 0;
    max-width:1200px;
    margin:auto;
    background-color:var(--container)
}

.about-text{
max-width:600px;
}
.overview{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    padding:1.5rem;
    border-radius: 0.5rem;
    color:var(--primary-hover);
    background-color: var(--cards);
}
.overview-item h3{
    margin-bottom: 0.4rem;
    font-weight: 600;
}
.overview-item p{
    margin:0;
    color:var(--text-main)
}
@media (max-width:700px){
    .overview{
        grid-template-columns: 1fr;
    }
}
.evaluation{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--cards);

}
.evaluation-item {
    line-height:1.5;
    color:var(--primary-hover);
    flex-direction: column;
    background-color: var(--cards);
    padding: 0 1rem;
    display:flex;
    gap: 0.50rem;
    
}
.evaluation-item h3{
    margin-bottom: 0.4rem;
    font-weight: 600;
    color: var(--primary);

}
.evaluation-item p{
    margin:0;
    color: var(--text-main);
    line-height: 2.0;
}
@media (max-width:700px){
    .evaluation{
        grid-template-columns: 1fr;
     
    }
}
a{
    color: var(--link-color);
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}
.skills button {
    padding: 1rem 1rem;
    background-color: var(--primary-hover);
    color: var(--background);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    display: flex; 
    align-items: center;
    min-height: 45px;
}
/*Not supposed to click anywhere just wanted them to be laid out like little buttons*/
@media ( max-width: 1500px) {
    .skills {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1200px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .skills {
        grid-template-columns: 1fr;
    }
}
.a-10champs {
    width: 30vw;
    margin: 0 auto;
    padding: 0 1rem;
    align-items: left;
}