:root {
    --font-main:'Sora';
    --font-weight-thin:100;
    --font-weight-light:300;
    --font-weight-regular:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;
    --font-weight-ExtraBold:800;
    --background: #f1eefb;
   
    --text-main: #1A1A1A;
    --cards:#FFFF;
    --text-secondary:#3a3a3a;
    --primary: #7A3FF2;
    --primary-hover: #5E2BC7;
    --accent-support:#F6874A;
    --info: #4A90E2;
    --text-shadow:#b5fbff;
     --link-color: #7A3FF2;
  --link-hover: #5E2BC7;
  --container:#f1eefb;

 
}
@media (prefers-color-scheme: dark) {
 :root {
    --background-dark:#2f2f37;
    --text-color-dark:#ffff;
    --background:#2B2B33;
    --text-color:#ffff;
    --text-main:#FFFF;
    --text-secondary:#A6A6A6;
    --primary:#9961FF;
    --primary-hover:#B48AFF;
     --accent-support:#FFA56C;
     --secondary-text:#b1b1b1;
     --cards:hsl(0, 2%, 12%);
     --info:#6AB0FF;
      --link-color: #9961FF;
    --link-hover: #B48AFF;
    --container:#000000;
     

 }
} 
@media (prefers-color-scheme: dark){
    .light-logo{ display: none; }
    .dark-logo{ display: block; }
}
@media (prefers-color-scheme: light){
    .dark-logo{display: none; }
    .light-logo{display:block; }
}
    
/*Sora Font Family*/
@font-face {
    font-family:'Sora';
         src: url('../fonts/sora/Sora-Thin.ttf') format('truetype'),
        url('../fonts/sora/Sora-Thin.woff2') format('woff2'),
         url('../fonts/sora/Sora-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('./fonts/sora/Sora-ExtraLight.ttf') format('truetype'),
                url('./fonts/sora/Sora-ExtraLight.woff2') format('woff2'),
                url('./fonts/sora/Sora-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('./fonts/sora/Sora-Light.ttf') format('truetype'),
             url('./fonts/sora/Sora-Light.woff2') format('woff2'),
             url('./fonts/sora/Sora-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('./fonts/sora/Sora-Regular.ttf') format('truetype'),
             url('./fonts/sora/Sora-Regular.woff2') format('woff2'),
             url('./fonts/sora/Sora-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-Medium.ttf') format('truetype'),
             url('../fonts/sora/Sora-Medium.woff2') format('woff2'),
             url('../fonts/sora/Sora-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('./fonts/sora/Sora-SemiBold.ttf') format('truetype'),
             url('./fonts/sora/Sora-SemiBold.woff2') format('woff2'),
             url('./fonts/sora/Sora-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-Bold.ttf') format('truetype'),
             url('../fonts/sora/Sora-Bold.woff2') format('woff2'),
            url('../fonts/sora/Sora-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-ExtraBold.ttf') format('truetype'),
             url('../fonts/sora/Sora-ExtraBold.woff2') format('woff2'),
             url('../fonts/sora/Sora-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
/*end of font family*/

html { line-height: 1.15;
    -webkit-text-size-adjust: auto;
    background-color: var(--background);
}
@media (prefers-color-scheme: dark) {
    html{ background-color:var(--background-dark);
       .project-card{ background-color: var(--background-dark)};
    } 
} 

.site-header{
position: sticky;
background-color:var(--background);
padding: 1rem 2rem;
display: flex;
justify-content: space-between;
align-items: center;
}

.menu-toggle {
    font-size: 2rem;
    background: none;
    cursor: pointer;
}
.menu-icon {
    font-size: 2rem;
    cursor: pointer;
    color: rgb(147, 27, 227);
}
.site-nav{
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: var(--background);
    transition: right 0.7s ease-in-out;
 
}
.side-nav.open {
    right: 0;
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
   gap: 2rem;
   flex-direction: column;
   margin-top: 2rem;
}
#menu-toggle:checked + .menu-icon + .site-nav {
    right: 0;
}

.nav-links a{
    text-decoration: none;
    color: var(--text-main);
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-links a::after{
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 0%;
height: 2px;
background-color: rgb(147, 27, 227);
transition: width 0.4s ease-in-out;
}

@media (min-width: 480px) {
    .site-nav {
        position: static;
        width: 100%;
        height: auto;
        background: none;
        opacity: 1;
        display: flex;
        justify-content: space-evenly;
       
    }
    .menu-icon {
        display: none;
    }
    .nav-links{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

    }
}
.nav-links a:hover::after {
  width: 100%;
}


.hero{
background-image:url("../media/white-plastic.png");
background-size:cover;
background-position:top;
padding: 6rem 0.5rem;
margin: 0 auto;
max-width: 1100px;
color:var(--text-main);
text-shadow:3px 0.5px 6px var(--secondary-text);
border-radius: 0.2rem;
display: flex;
align-items: center;
}
.hero-title{
    font-family: 'Sora';
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.95;
    letter-spacing: 0.05em;
    text-align: left;
    margin: 0;

}
@media (max-width: 800px){
.hero-title{
    font-size:4rem;
}
}

@media (max-width: 600px){
.hero-title{
    font-size:2rem;
}
}


@media (prefers-color-scheme: dark) {
  .hero {
    background-image: url("../media/blackplastic.png");
    color: var(--text-color-dark);
}
}
@media (prefers-color-scheme: light){
    .hero{
        color: var(--primary);
        
    }
}
body {
    font-family: 'Sora';
    font-weight: 400;
   margin: 0;
   line-height: 1.8;
   background: var(--background);
   color: var(--text-main);
}
.container{
max-width:1200px;
margin:0 auto;
padding:0 1.5rem;
}
h1 {
  font-family: 'Sora';
  font-size: 2rem;
    font-weight:var(--font-weight-ExtraBold);
   position: center;
    margin-bottom: 1rem;
}
h2 {
    font-weight:var(--font-weight-semibold);
    margin-left: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}


h3 {
    font-weight:var(--font-weight-medium);
    font-size: 1.25rem;
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
p {
    font-weight:var(--font-weight-regular);
    font-size: 1rem;
    position: relative;
    margin-left: 10px;
    line-height: 2.0;
    padding-left: 10px;
}
li {
    font-weight:var(--font-weight-medium);
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 1.9;
}
ul{
    font-weight:var(--font-weight-regular);
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 1.6;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  padding-top: 56.25%; 
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.featured-grid{
display:grid;
gap: 3rem;
grid-template-columns: 1fr;
background-color: var(--background);
}
.featured-grid img {
    max-width: 100%;
    height: auto;
    display: block;
}
@media (min-width: 400px) {
    .featured-grid {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}
img {
  max-width: 100%;
  height: auto;
}
.about-images {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  justify-content: center;
}
.about-photo {
    width: 220px;
}
@media (max-width: 768px) {

  .about-images {
    flex-direction: column;
    align-items: center;
  }

}

.project-card {
    box-shadow:#ffffff;
    background-color:var(--cards);
    padding: 1.5rem;
    box-shadow: 0 4px 10px var(--text-shadow);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius:10px;
}
.project-card:hover{
    box-shadow:0 4px 10px var(--primary-hover);
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
    transform: translateY(-3px);
}
.project-card img{
    width:100%;
    max-width:400px;
    height:auto;
    display:block;
}
.ppt{
    width:auto;
    height: auto;
    display:flex;
}

.project-container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:2rem;
    padding:2rem;
    max-width:1200px;
    margin:auto;
    background-color:var(--container)
}
.contact-form-wrapper{
    background-color:var(--background-dark);
    padding: 15px;
    color: var(--text-main);
    border: 3px solid var(--accent-support);
    position: sticky;
}
.contact-form-wrapper form {
    display: flex;
    
    flex-direction: column;
}

.contact-form-wrapper label {
    margin-top: 10px;
    color: var(--secondary-text);
    font-weight: bold;
}

.contact-form-wrapper input,
.contact-form-wrapper textarea{
    margin-top: 5px;
    padding: 10px;
    width: 100%;
   box-sizing:border-box;
   border-top: 2px solid #F6874A;
   border-radius: 5px;
}
.contact-form-wrapper button {
background-color:#ff7b34;
padding: 12px;
margin-top: 10px;
color: white;
font-weight: 700;
font-size: larger;

}
.contact-form-wrapper button:hover{
    transform: translateY(3px);
    transition: 0.3s ease-in-out 0.1s;
   
}
.about-text{
max-width:600px;
}
.overview{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    padding:1.5rem;
    border-radius: 0.5rem;
    color:#5E2BC7;
    background-color: #f0eded;
}
.overview-item h3{
    margin-bottom: 0.4rem;
    font-weight: 600;
}
.overview-item p{
    margin:0;
}
@media (max-width:700px){
    .overview{
        grid-template-columns: 1fr;
    }
}
.evaluation{
    display: grid;
    grid-template-columns:(3,3,3);
    gap:2rem;
    padding:1.5rem;
    line-height:1.5;
    border-radius: 0.5rem;
    color:#5E2BC7;
    background-color: #f0eded;
}
.evaluation-item h3{
    margin-bottom: 0.4rem;
    font-weight: 600;
}
.evaluation-item p{
    margin:0;
}
@media (max-width:700px){
    .evaluation{
        grid-template-columns: 3fr;
        grid-template-rows: 3fr;
    }
}
a{
    color: var(--link-color);
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}
@media (prefers-color-scheme: dark){
    a{
        color: var(--link-color);
    }
}
a:hover{ 
    color: var(--link-hover);
     content: "";
position: absolute;
left: 0;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    bottom: 0;
width: 0%;
height: 2px;
background-color: var(--accent-support);
transition: width 0.4s ease-in-out;

}
/*.vscode,
.adobeprmr,
.adobephotoshop,
.figma,
.canva,
.javascript,
.css,
.html,
.adobeillustrator
{
    padding: 1rem;
    display: grid;
    columns: 3;
    size: 2rem;
    background-color: var(--primary-hover);
    color: var(--background);
     grid-template-columns: 1fr;
     width:100%;
    max-width:400px;
    height:auto;
} */
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4, 1fr));
    gap: 1rem;
    max-width: 700px;
    margin: 0 auto;
}
.skills button {
    padding: 1rem;
    background-color: var(--primary-hover);
    color: var(--background);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}
@media (max-width: 800px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .skills {
        grid-template-columns: 1fr;
    }
}