:root {
    --font-main:'Sora';
    --background: #F8F7FC;
}
/*Sora Font Family*/
@font-face {
    font-family:'Sora';
         src: url('../fonts/sora/Sora-Thin.ttf') format('truetype'),
        url('../fonts/sora/Sora-Thin.woff2') format('woff2'),
         url('../fonts/sora/Sora-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('./fonts/sora/Sora-ExtraLight.ttf') format('truetype'),
                url('./fonts/sora/Sora-ExtraLight.woff2') format('woff2'),
                url('./fonts/sora/Sora-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('./fonts/sora/Sora-Light.ttf') format('truetype'),
             url('./fonts/sora/Sora-Light.woff2') format('woff2'),
             url('./fonts/sora/Sora-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('./fonts/sora/Sora-Regular.ttf') format('truetype'),
             url('./fonts/sora/Sora-Regular.woff2') format('woff2'),
             url('./fonts/sora/Sora-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-Medium.ttf') format('truetype'),
             url('../fonts/sora/Sora-Medium.woff2') format('woff2'),
             url('../fonts/sora/Sora-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('./fonts/sora/Sora-SemiBold.ttf') format('truetype'),
             url('./fonts/sora/Sora-SemiBold.woff2') format('woff2'),
             url('./fonts/sora/Sora-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-Bold.ttf') format('truetype'),
             url('../fonts/sora/Sora-Bold.woff2') format('woff2'),
            url('../fonts/sora/Sora-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family:'Sora';
        src: url('../fonts/sora/Sora-ExtraBold.ttf') format('truetype'),
             url('../fonts/sora/Sora-ExtraBold.woff2') format('woff2'),
             url('../fonts/sora/Sora-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-size: 100px;
    font-style: normal;
}
/*end of font family*/

html { line-height: 1.15;
    -webkit-text-size-adjust: auto;
    background-color: #F8F7FC;
}
.site-header{
position: sticky;
background-color: rgb(255, 255, 255);
padding: 1rem 2rem
}

.menu-toggle {
    font-size: 2rem;
    background: none;
    cursor: pointer;
}
.menu-icon {
    font-size: 2rem;
    cursor: pointer;
    color: rgb(147, 27, 227);
}
.site-nav{
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: white;opacity: 0.85;
    transition: right 0.7s ease-in-out;
 
}
.side-nav.open {
    right: 0;
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
   gap: 2rem;
   flex-direction: column;
   margin-top: 2rem;
}
#menu-toggle:checked + .menu-icon + .site-nav {
    right: 0;
}

@media (min-width: 480px) {
    .site-nav {
        position: static;
        width: auto;
        height: auto;
        background: none;
        opacity: 1;
        display: flex;
        justify-content: center;
    }
    .menu-icon {
        display: none;
    }
    .nav-links{
        flex-direction: row;
        gap: 3rem;
    }
}



.hero{
background-image:url("../media/blackplastic.png");
background-size:cover;
background-position:top;
padding: 6rem 1.5rem;
margin: 0 auto;
max-width: 1200px;
text-align:center;
color:rgb(255, 255, 255);
border-radius: 0.2rem;
width:100%;
flex-wrap: wrap-reverse;
flex-direction:row;
flex-grow: 1;
font-weight: 800;
font-size: larger;

}
body {
    font-family: 'Sora';
    font-weight: 400;
    font-display: swap;
    margin-left: 20px;
    margin-right: 20px;
}
.container{
max-width:1200px;
margin:0 auto;
padding:0 1.5rem;
}
h1 {
  font-family: 'Sora';
  font-size: 50%;
    font-weight: 800;
    font-display: swap;
   position: center;
    padding-left: 10%;
    padding-right: 10%;
}
h2 {
    font-weight: 800;
    font-display: swap;
    margin-left: 10px;
    padding-left: 10px;
}    

h3 {
    font-weight: 600;
    font-display: swap;
    margin-left: 10px;
    padding-left: 10px;
}
p {
    font-weight: 400;
    font-display: swap;
 
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
}
li {
    font-weight: 400;
    font-display: swap;
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
}
.video-container {
  position: relative;
  overflow: hidden;
  width: 50%;
  padding-top: 56.25%; 
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.featured-grid{
display:grid;
gap: 3rem;
grid-template-columns: 1fr;
background-color: #e9e9e9 ;
}
.featured-grid img {
    max-width: 100%;
    height: auto;
    display: block;
}
@media (min-width: 400px) {
    .featured-grid {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}